/* GLOBAL STYLES */

body {
	font-family: 'Raleway', sans-serif, Helvetica, Arial;
	padding-bottom: 0;
	color: #3d3d3d;
	background-color: #ffffff;
	letter-spacing: 0.5px;
}

.main-container{
	margin: auto;
}

/*navbar */
.navbar-brand>a>img{
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	opacity: 0.9;
}

.navbar{
	background: none;
	background-color: rgba(0,0,0,.2);
	padding: 0;
}

.navbar-nav{
	margin-right: 5%;
}

.navbar .navbar-nav>li>a{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	text-align: right;
}

.navbar-inverse .navbar-nav .nav-link{
	color: rgba(255,255,255,1);
}

.navbar-inverse .navbar-nav .active>.nav-link{
	font-weight: 700;
}

.dropdown .dropdown-menu{
	margin: auto;
	background: none;
	border: none;
	outline: 0;
}

.dropdown-item{
	color: #fff;
}

.dropdown-item:focus, .dropdown-item:hover{
	color: #ccc;
}

.dropdown-item:hover {
	text-decoration: none;
	background: none;
}



/* end navbar */
/* Carousel */

.heading-carousel .carousel-indicators{
	position: absolute;
	right: 0;
	bottom: 5px;
	z-index: 15;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: table-column;
	 -webkit-box-pack: center;
	 -webkit-justify-content: center;
	  -ms-flex-pack: center;
		  justify-content: center;
	padding-left: 0;
	margin-left: 95%;
	margin-right: 5%;
	list-style: none;
	box-sizing: inherit;
}


.heading-carousel .carousel-indicators>li{
	position: relative;
	width: 10px;
	height: 10px;
	border: 2px solid #ccc;
	border-radius: 50%;
	margin-bottom: 7px;
	text-indent: -999px;
	cursor: pointer;
	background-color: rgba(0,0,0,0);
	 -webkit-box-flex: none;
	 -webkit-flex: none;
	  -ms-flex: none;
			flex: none;
}

.heading-carousel .carousel-indicators>li::before {
	position: absolute;
	top: -10px;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 10px;
	content: "";
}

.heading-carousel .carousel-indicators>li::after {
	position: absolute;
	bottom: -10px;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 10px;
	content: "";
}

.heading-carousel .carousel-indicators .active {
	width: 10px;
	height: 10px;
	margin-bottom: 7px;
	background-color: #ccc;
}

.main-carousel-inner .carousel-item{
	height: 100vh;
}

.main-carousel-inner .carousel-item .first-slide{
	background: url(img/hero_top_overlay.png) no-repeat;
	background-size: cover;
	width: 100%;
	background-position: 50% 50%;
}

.main-carousel-inner .carousel-item .second-slide{
	background: url(img/building-joy-planning-plans.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	background-position: 50% 50%;
}

.main-carousel-inner .carousel-item .second-slide:before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,.5);
}

.main-carousel-inner .carousel-item .third-slide{
	background: url(img/trees-countryside-green-chill.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	background-position: 50% 50%;
}

.main-carousel-inner .carousel-item .third-slide:before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,.5);
}

.carousel-caption {
	z-index: 10;
	bottom: 50px;
	margin-top: 270px;
	position: static;
}

.carousel-caption > h1{
	font-size: 72px;
	font-weight: 700;
}

.carousel-caption > h2{
	font-size: 60px;
	font-weight: 600;
}

.carousel-control-prev-icon{
	width: 45px;
	height: 60px;
	margin-right: 50%;
}

.carousel-control-next-icon{
	width: 45px;
	height: 60px;
	margin-left: 50%;
}

.btn-primary{
	margin-top: 50px;
	text-transform: uppercase;
	border-radius: 10px;
	border: 3px solid #fff;
	background: rgba(255,255,255,0.05);
	color: #fff;
	font-size: 18px;
	padding: 14px 35px;
	letter-spacing: 1.5px;
	font-weight: 600;
}

.btn-primary:hover{
	text-decoration: none;
	background: rgba(255,255,255,0.2);
	border: 3px solid #fff;
}

/* Section 1 - Services */
.services-row{
	margin-top: 60px;
	margin-bottom: 60px;
}

.rounded-circle{
	background-color: #4d7200;
	width: 85px;
	height: 85px;
	margin: auto;
}

.rounded-circle>img{
	width: 50px;
	height: 50px;
	margin-top: 15px;
}

.services-section>h3{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}

.services-section>p{
	font-size: 14px;
}

/* end Section 1 - Services */
/*Section 2 - General purpose call-to-action*/
.call-to-action{
	background: url(img/pexels-photo-109042.jpeg);
	height: 400px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	color: #ffffff;
	text-transform: uppercase;
	position: relative;
}

.call-to-action .box-shadow{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 120px #000;
}

.call-to-action .text-center{
	padding-top: 100px;
}

.call-to-action .text-center>h3{
	font-size: 16px;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 20px;
}

.call-to-action .text-center>h2{
	font-size: 32px;
	font-weight: 700;
}

/* end Section 2 - General purpose call-to-action*/
/* FEATURETTES - Section 3 - Two column general purpose section */

.features{
	margin-top: 60px;
	margin-bottom: 40px;
	font-size: 16px;
}

.features .features-txt>h3{
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
}

.features .features-txt>h2{
	text-transform: uppercase;
	font-size: 32px;
	font-weight: 900;
	margin-top: 20px;
	margin-bottom: 30px;
}

.features .features-txt>p{
	font-size: 18px;
	}

.features .features-img>img{
	height: auto;
	width: 100%;
}

/* end Section 3 - Two column general purpose section */

/* Section 5 - General purpose call-to-action */
.second-cta{
	background: url(img/pexels-photo-193035.jpeg) no-repeat;
	height: 500px;
	background-position: 30% 90%;
	background-size: cover;
	width: 100%;
	color: #ffffff;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 50px;
}

.second-cta .box-shadow{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.3);
	box-shadow: inset 0 0 200px #000;
}

/* end Section 5 - General purpose call-to-action */
/* Section 6 - Testimonials */


.testimonials-indicators .carousel-indicators{
	z-index: 15;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
	list-style: none;
	top: 100%;
	box-sizing: inherit;
}


.testimonials-indicators .carousel-indicators>li{
	width: 10px;
	height: 10px;
	border: 1px solid #909090;
	border-radius: 50%;
	margin-right: 2px;
	margin-left: 2px;
	text-indent: -999px;
	cursor: pointer;
	background-color: rgba(0,0,0,0);
	 -webkit-box-flex: none;
	 -webkit-flex: none;
	  -ms-flex: none;
		  flex: none;
}

.testimonials-indicators .carousel-indicators>li::before {
	position: absolute;
	top: -10px;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 11px;
	content: "";
}

.testimonials-indicators .carousel-indicators>li::after {
	position: absolute;
	bottom: -10px;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 11px;
	content: "";
}

.testimonials-indicators .carousel-indicators .active {
	width: 10px;
	height: 10px;
	margin-right: 2px;
	margin-left: 2px;
	background-color: #909090;
}

.carousel-item .carousel-item-img{
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.carousel-item .carousel-item-img>img{
	border: 7px solid #4d7200;
	border-radius: 100%;
	width: auto;
	height: auto;
}

blockquote>h1, blockquote>p{
	font-weight: 600;
}

blockquote>cite{
	margin-bottom: 15px;
}

/* end Section 6 - Testimonials */
/* Section 7 - Two column general purpose section */

.features2{
	background: url(img/pexels-photo-102896.jpeg) no-repeat;
	background-size: cover;
	height: auto;
	width: 100%;
	color: #3d3d3d;
	margin-bottom: 0;
}

.features2 .features2-p>h3{
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	padding-top: 50px;
}

.features2 .features2-p>h2{
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 900;
	margin-top: 20px;
	margin-bottom: 30px;
}

.features2 .features2-p>p{
	font-size: 16px;
	padding-bottom: 30px;
}

.features2 .features2-p>p>a{
	text-transform: uppercase;
	text-decoration: underline;
	color: #3d3d3d;
	font-weight: 600;
}

.features2 .features2-img{
	padding: 35px 5px;
	margin: 15px 0;
}

.features2 .features2-img>img{
	width: 100%;
	height: 100%;
	border: 10px solid rgba(255, 255, 255, 0.3);
}

.features2 .angle{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: -27px;
	width: 50px;
	height: 50px;

}

.features2 .angle>a{
	text-decoration: none;

}

.features2 .angle>a>img{
	width: 45px;
	height: 45px;
	border: 0.2em solid #fff;
	border-radius: 50%;
	padding-bottom: 5px;
}

/* end Section 7 - Two column general purpose section */
/* Main footer */

footer{
	background-color: #232520;
	width: 100%;
	color: #fff;
	margin: auto;
}

.main-footer{
	padding-top: 20px;
	margin-bottom: 25px;

}

.main-footer .footer-header{
	text-transform: uppercase;
	text-size: 16px;
	font-weight: 700;
	padding-top: 30px;
	padding-bottom: 20px;
}

.main-footer .row .info{
	margin-bottom: 40px;
}

.main-footer .row .info>p{
	font-size: 14px;
	font-weight: 400;
}

.info .social-icons{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
}

.social-icons .text-center>a{
	margin-right: 8px;
}

.social-icons .text-center>a>img{
	width: 45px;
	height: 45px;
}

.main-footer .row .mapa .location-map{
	background: none;
	width: 300px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

.main-footer .shortcut{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

.main-footer .shortcut>ul{
	list-style-type: none;
	padding: 0;
	text-align: center;
}

.main-footer .shortcut>ul>li{
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 8px;
}

.main-footer .shortcut>ul>li>a{
	color: #fff;
	text-decoration: none;
}

.main-footer .shortcut>ul>li>a:hover{
	color: #ccc;
}

.latest-works{
	margin-bottom: 40px;
}

.latest-img .row .thumbnails{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
}

.latest-img .row .thumbnails .text-center{
	margin-right: 5px;
	margin-bottom: 5px;
}

.latest-img .row .thumbnails .text-center>a>img{
	height: 80px;
	width: 80px;
	border: 4px solid #fff;
}

.footer-divider{
	display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
    border: 1.5px solid #fff;
	border-top: none;
}

.footer-bottom{
	margin-left: 5%;
	margin-right: 5%;
}

.footer-bottom .row .copy-rights, .footer-bottom .row .privacy-policy{
	padding-top: 8px;
	font-size: 10px;
	font-weight: 400;
}

.footer-bottom .row .privacy-policy{
	text-align: right;
}

.footer-bottom .row .privacy-policy>p>a{
	text-decoration: none;
	color: #fff;
}

.footer-bottom .row>p>a:hover{
	color: #ccc;
}

/* RESPONSIVE CSS
--------------------------------------------------


@media(min-width:480px){

} */

@media (max-width: 768px){
	.carousel-caption>h1{
		font-size: 48px;
	}

	.carousel-caption > h2{
		font-size: 36px;
		font-weight: 600;
	}

	.footer-header{
		text-align: center;
	}

	.main-footer .info>p{
		text-align: center;
	}

	.info .social-icons{
		padding-top: 15px;
		padding-bottom: 25px;
	}

	.footer-bottom .row .privacy-policy{
	text-align: left;
}
}

@media (max-width: 992px){
	.navbar-toggler-icon{
		position: relative;
		margin-right: 15px;
		top: 10%;
	}

	.navbar-collapse{
		position: absolute;
		top: 80px;
		right: 25px;
	}

	.navbar-toggler-right{
		top: 10%;
	}

	.navbar-inverse .navbar-toggler{
		outline: 0;
		border-color: rgba(0,0,0,0);
	}

	.navbar-inverse .navbar-toggler-icon{
		background-image: url(img/svg/bars.svg);
		height: 40px;
		width: 40px;
		opacity: 0.9;
	}

	.navbar .navbar-nav>li>a{
		font-size: 12px;
		font-weight: 600;
		line-height: 12px;
	}

	.features .features-txt>p{
		font-size: 16px;
	}

	.features .features-txt>h3{
		font-size: 16px;
	}

	.features .features-txt>h2{
		font-size: 30px;
	}

	.carousel-item .carousel-item-img{
		padding-bottom: 40px;
	}

	blockquote>h1{
		font-size: 28px;
		text-align: center;
	}

	blockquote>p,cite{
		font-size: 14px;
		text-align: center;
	}

	blockquote>cite{
		margin-left: 35%;
	}

	.features2-p>h3{
	text-align: center;
	font-size: 16px;
	padding-top: 50px;
	}

	.features2-p>h2{
		font-size: 28px;
		text-align: center;
	}

	.features2-p>p{
		text-align: center;
		font-size: 14px;
	}
}

@media(max-width:1200px){
	.features2 .features2-p>h3{
		font-size: 16px;
		padding-top: 50px;
	}

	.features2 .features2-p>h2{
		font-size: 30px;
	}

	.features2 .features2-p>p{
		font-size: 14px;
		font-weight: 600;
		padding-bottom: 20px;
	}

	.features2 .features2-p>p>a{
		text-transform: uppercase;
		text-decoration: underline;
		font-weight: 700;
		font-size: 16px;
	}
}
